@import url('https://fonts.googleapis.com/css2?family=Pathway+Extreme:wght@100;300;400;700&display=swap');
@import url('https://cdn.jsdelivr.net/npm/bootstrap/dist/css/bootstrap.min.css');
@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css'); 

.body {
    font-family: 'Pathway Extreme', sans-serif;
    margin-inline: auto;
    width: 740px;
}
.p {
    margin: 0;
}
.input{
    border: 0;
}
.input:hover {
    border: 0;
}
.button:hover {
    opacity: 50%;
    cursor: pointer;
}
.formContainerShadow {
    padding: 0;
    background-color: #0872a1;
    border-radius: 10px;
}
.formContainer {
    font-size: 1.15em;
    font-weight: bold;
    background-color: #c5e2ea;
    padding: 0.85em;
    border-radius: 10px;
}
.formContainerMoverContainer {
    width: 3%;
}
.formHeader {
    text-decoration: underline;
    display: flex;
}
.formTitleContainer {
    display: flex;
    margin-bottom: 0.5em;
}
.formTitleRequired {
    padding-left: 0.15em;
    color: #cd3a3a;
}
.actionBtnsContainer {
    width: 95%;
}
.actionBtn {
    border-radius: 36px;
    font-size: 0.8em;
    padding: 0.5em 0;
    border: 0;
    font-weight: bold;
    width: 25%;
}
.formChoice {
    height: 100%;
}
.formAnswer {
    font-weight: lighter;
    padding: 0.15em;
    color: black;
}
.formTransparent {
    background-color: transparent;
}
.formDropdown {
    font-size: 0.75em;
}
.popupModal {
    display: block;
    padding: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    position: fixed;
}
.popupModalBoxContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}
.popupModalBoxShadow {
    width: 50%;
    padding: 0;
    background-color: #0872a1;
    border-radius: 36px;
    position: absolute;
    text-align: center;
}
.popupModalBox {
    font-size: 1.75em;
    font-weight: bold;
    background-color: #c5e2ea;
    border-radius: 36px;
    height: 100%;
}
.popupModalBoxTop {
    font-size: 0.75em;
}
.historyContainer {
    font-size: 0.60em;
    padding: 0.75em;
}
.historyTitleContainer {
    display: flex;
}
.historyDate {
    max-width: 25%;
    margin-left: auto;
}

.historyOthersContainer {
    font-size: 0.75em;
    font-weight: lighter;
}
.confirmBtn {
    border: 3px solid black;
    font-size: 0.75em;
    font-weight: bold;
    min-width: 25%;
    border-radius: 36px;
    padding-block: 0.25em;
}
.yesBtn {
    border-color: #00bf63; 
}
.noBtn {
    border-color: #cd3a3a; 
}
.closeBtn {
    font-size: 1.15em;
    color: #0872a1;
    border: none;
    background-color: inherit;
}

.redText {
    color: #cd3a3a;
}

.bgBlue {
    background-color: #0872a1;
}
.editBlockBtn {
    margin: 0;
    padding: 0;
    border: 0;
    margin-left: auto;
    background: none;
}
.editBlockBtn:hover {
    cursor: pointer;
    opacity: 50%;
}
.bi:hover {
    cursor: pointer;
    opacity: 50%;
}
.addOptBtn {
    border: none;
    background: none;
}
.addOptBtn:hover {
    cursor: pointer;
    opacity: 50%;
}
.errorCodeContainer {
    font-size: 2em;
    margin-block: 1em;
}
.errorMessageContainer {
    margin-bottom: 2em;
}
.bigText {
    font-size: 4.5em;
    line-height: 1em;
    position: relative;
    background: -webkit-repeating-linear-gradient(-45deg, #e67171, #ce699c, #b98acc, #ee8176, #e71717, #9b59b6);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-size: 400% 400%;
    animation: animate 10s ease-in-out infinite;
}
@keyframes animate {
    0%{
        background-position: 0 0;
    }
    25%{
        background-position: 100% 0;
    }
    50%{
        background-position: 100% 100%;
    }
    75%{
        background-position: 0% 100%;
    }
    100%{
        background-position: 0% 0%;
    }
}