.navbar-menu-container {
    opacity: 0;
    visibility: hidden;
    z-index: 1030;
    width: 20%;
    position: fixed;
    top: 75px;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}
.show-menu {
    opacity: 1;
    visibility: visible;
}
.navbar-menu-option {
    font-size: 15px;
    margin-bottom: 2em;
    font-weight: bold;
    text-align: left;
}
.red-text {
    color: #cd3a3a;
}
.navbar-menu-option:hover {
    opacity: 50%;
}
#navbar {
    height: 75px;
}
#navbar-menu-btn {
    border: 0;
    background-color: transparent;
}
#navbar-menu-open {
    width: 25%;
}