@media (max-width: 767px) {
    .d-flex {
        flex-direction: column;
    }

    .col {
        width: 100%;
        margin-bottom: 10px; /* Add spacing between sections on small screens */
    }
}

i:hover{
    opacity: 50%;
}

@media (max-width: 767px) {
    .pagination .page-link {
        padding: 0.25rem 0.5rem; /* Adjust the padding as needed */
        font-size: 0.75rem; /* Adjust the font size as needed */
    }
}

#showPasswordButton {
    position: absolute;
    right: 10px;
    background-color: transparent;
    border: none;
    z-index: 5;
}

#submit{
    width: 100%;
}

.primary-text {
    color: #0D6EFE;
}

.confirm-btn {
    border: 3px solid black;
    font-size: 0.75em;
    font-weight: bold;
    width: 25%;
    border-radius: 10px;
    padding-block: 0.25em;
}

.yes-btn {
    border-color: #00bf63; 
}

.no-btn {
    border-color: #cd3a3a; 
}

.close-btn {
    font-size: 1.15em;
    color: #0872a1;
    border: none;
    background-color: inherit;
}